
/*----------------Hugo's stuff below----------------*/

body{
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: url(""); */
}


html, body {
    padding: 0;
    margin: 0;
  }


  
#icon{
    position: relative;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    width:60px;
    height:60px;
    border-radius: 50%;
}
#icon:hover{
    background-color: rgb(0, 0, 88);
}

#icon2{
    position: relative;
    margin: auto;
    width: 25px; 
    height: 25px;
}

.NavBar{
    position: sticky;
    background-color: navy;
    /*text-align: center;*/
    margin: 0;
    height: 80px;
    width: 100%;
    border-bottom: 3px solid white;
}

#Search{
    /* border: 3px solid black; */
    width: 300px;
    position: absolute;
    right:100px;
    top: 10px;
}

#sButton{
    float: right;
    border: none;
    width: 17.6%;
    height: 100%;
    border-radius: 5%;
    /* background-color: darkgoldenrod; */
}

#sInput{
    border: none;
    border-right: 3px solid navy;
    width: 80%;
    height: 53px;
    border-radius: 2%;
}

.SideMenu{
    display: inline-block;
    /*display: inline;*/
    height: 100%;
    width: 20%;
    min-width: 200px;
    /* background-color: white; */
    border-right: 3px solid black;
    /* border-bottom: 3px solid black; */
    border-top: 0px solid black;
}

#content_list{
    position: absolute;
    width: 75%;
    left: 350px;
    top: 120px;
}

#a_content_list{
    position: absolute;
    width: 75%;
    left: 12.5%;
    top: 120px;
}

.item{
    border: 3px solid black;
    border-radius: 0.5%;
    height: 200px;
}
.item:hover{
    background-color: lightgrey;
}

.sideInput{
    
    width: 90%;
    height: 100%;
    margin: 4%;
    margin-top: 15%;
    margin-bottom: 15%;
    border: 3px solid black;
    border-radius: 3%;
}


#accountLink{
    position: absolute;
    right:20px;
    top: 10px;
    border: 3px solid white;
    border-radius: 5%;
}
#accountLink:hover{
    background-color: rgb(0, 0, 88);
}



/* item.html below */

#itemBody{
    border: 3px solid black;
    height: 500px;
    width: 1200px;
    position: absolute;
    top: 600px;
    left: 50%;
    margin: -25px 0 0 -600px;
}

#itemPicture{
    border: 3px solid black;
    height: 400px;
    width: 400px;
    position: absolute;
    top: 150px;
    left: 50%;
    margin: -25px 0 0 -200px;
}

/*account*/

.itemX, .itemE{
    /*background-color: rgb(155, 1, 1);*/
    width: 25px;
    height: 25px;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    position: absolute;
    right: 2px;
    top: 2px
}
.itemX:hover{
    background-color: lightgrey;
}

.itemE{
    /*background-color: rgb(0, 0, 160);*/
    position: absolute;
    right: 2px;
    top: 29px
}
.itemE:hover{
    background-color: lightgrey;
}

#addItem{
    border: 3px solid black;
    width: 25px;
    height: 25px;
    position: relative;
    margin: auto;
    margin-top: 20%;
}
#addItem:hover{
    background-color: lightgrey;
}

#propertyForm{
    /*text-align: center;*/
    display: none;
    position: relative;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    /* padding-top: 100px; */
    margin: auto;
    height: 90%;
    width: 50%;
    background-color: aliceblue;
    border: 2px solid gray;
    top: 5px;
}

fieldset{
    border: none;
}

#itemX2{
    border-bottom: 2px solid gray;
    border-left: 2px solid gray;
    right: 0px;
    top: 0px
}